@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* styles.css or a similar file */
:root.light {
  --bg-color: white;
  --text-color: black;
}

:root.dark {
  --bg-color: black;
  --text-color: white;
}

html.light {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./Components/bg.jpg') no-repeat; 
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* LoginForm.css */

.wrapper {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.wrapper.light {
  background-color: #fff;
  color: #000;
}

.wrapper.dark {
  background-color: #333;
  color: #fff;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

.wrapper.dark .input-box input {
  background-color: #555;
  color: #fff;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.3s;
}

.wrapper.dark .input-box .icon {
  color: #ccc;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wrapper.dark button[type='submit'] {
  background-color: #0056b3;
}

.register-link p {
  text-align: center;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.wrapper.dark .register-link a {
  color: #80bdff;
}

.register-link a:hover {
  text-decoration: underline;
}
